doctype html
html
    head
        title #{title}
    body
        .div
            h1 : just the H1 title
        //- hidden comments
        footer
            // this is the footer
        //- over