doctype html
html
    head
        title hello node.js
        meta(charset="utf-8")
        link(rel="stylesheet" href="./css/main.css")
        //if lt IE 8
            //-script(src="./js/hackjs/html5shiv.js")
            script(//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js)
            script(//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js)
    body
        header
            h1
            nav.nav
                ul
                    li
                    //-li*3
        main
            section
                h2 Hello,Node.js!
                p: span this is a span
            article
                h2 this is an article.
        footer
            ul: li: a(href="#") xgqfrms
            span copyright 2016
            mark Powered By HTML5+CSS3+ES6